* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5%;
  background-color: #ffff;
  height: 5.8rem;
  margin-top: -2.8rem;
}

.logo {
  padding-top: 1rem;
}

.nav__links a,
.adt,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 15px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffbb74;
}

.adt {
  padding: 9px 25px;
  background-color: #ffbb74;
  border: black;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.adt:hover {
  background-color: #985e1f;
}

.title,
h2 {
  text-align: center;
  padding-top: 4vh;
  font-size: 14px;
}

.title,
h1 {
  text-align: center;
  padding-top: 1vh;
  font-size: 30px;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.card1 {
  background-color: #fff;
  max-width: 35%;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 120px;
}

.card1 img {
  width: 100%;
  border-radius: 20px;
  height: 400px;
}

.card-content {
  margin: 5px;
}

.card-content h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.card-content p {
  color: #666;
  margin: 10px 0;
}

.open-modal {
  text-decoration: none;
  border: none;
  background-color: #fff;
  font-weight: bold;
  color: #666;
  font-size: 16px;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.2);
}

/* Modal */
dialog {
  border: none;
  width: 1100px;
  border-radius: 24px;
  padding: 18px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Cabeçalho do modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Botão de fechar modal */
.close-modal {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #9ca3af;
  font-size: 18px;
}

/* Corpo do modal */
.modal-body {
  display: flexbox;
  gap: 30px;
}

.modal-body img {
  width: 500px;
  height: 500px;
  padding-top: 100px;
  margin-left: 30px;
}

.itens-modal {
  margin-top: -400px;
  padding-left: 650px;
}

.itens-modal p {
  padding-top: 15px;
  color: #724a0a;
}

.itens-modal h1 {
  color: #fff;
  background-color: #e2a165;
  width: 300px;
  border-radius: 30px;
}

.titulo {
  padding-left: 10px;
}

.itens-modal i {
  background-color: #e2a165;
  width: 30px;
  border-radius: 50px;
  text-align: center;
  height: 30px;
  padding-top: 5px;
}

.textos {
  padding-top: 50px;
}

.card-content a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-content a:hover {
  text-decoration: underline;
}

.card2 {
  background-color: #fff;
  max-width: 35%;
  overflow: hidden;
  margin-left: 55%;
  margin-right: 10%;
  margin-top: -530px;
}

.card2 img {
  width: 100%;
  height: 700px;
  border-radius: 20px;
}

.card-content a svg {
  margin-left: 5px;
}

.card3 {
  background-color: #fff;
  max-width: 35%;
  overflow: hidden;
  margin-left: 10%;
  margin-top: -100px;
}

.card3 img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.card4 {
  background-color: #fff;
  max-width: 35%;
  overflow: hidden;
  margin-left: 55%;
  margin-top: -180px;
}

.card4 img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.button {
  background-color: #E2A165; /* Cor de fundo laranja */
  color: black; /* Cor do texto */ 
  border-radius: 30px; /* Bordas arredondadas */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Centralização do texto */
  text-decoration: none; /* Remoção de sublinhado */
  display: inline-block; /* Exibição inline-block */
  font-size: 1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro */
  transition: background-color 0.3s ease; /* Transição suave para hover */
}

.button:hover {
  background-color: #ffb74d; /* Cor de fundo no hover */
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

main {
  height: 80vh;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
