* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;   
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5%;
    background-color: #ffffff;
    height: 80px;
    
  }
  article {
    background-color: #fff8f2;
  }
  .nav__links a,
.adt,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 15px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffbb74;
}

.adt {
    padding: 9px 25px;
    background-color: #ffbb74;
    border: black;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }

.container{
  height: 400vh;
}
.parte {
  height: 100vh; /* Cada seção ocupa a altura total da tela */
  text-shadow: 1px 1px 2px black; /* Sombra no texto */
  margin: 1px 0; /* Espaço entre as seções */
  
}

.parte1 {
  background-image: url('images/imagem1_sobre_nos.png'); /* Substitua pelo caminho da sua imagem -- PARTE DO QUEM SOMOS*/
  background-size: cover; /* Ajusta a imagem para cobrir a área */
  background-position: center; /* Centraliza a imagem */
  width: -30vh;
  padding-bottom: 40vh;
  
}

.parte2 {
  background-image: url('images/imagem_sobre_nos.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.parte3 {
  background-image: url('images/Forma_sobre_nos.png'); /* Substitua pelo caminho da sua imagem -- PARTE DO DESIGN*/
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: 80vh; 
  background-position-y: 10vh;
}
.parte4 {
  background-image: url('images/Forma_sobre_nos.png'); /* Substitua pelo caminho da sua imagem --PARTE DA PROGRAMAÇÃO*/
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -30vh;
  background-position-y: 10vh;
}

.title_quem{
  font-size: 90px;
  padding-left: 68%;
  text-shadow: 2px 2px 5px hsl(24, 98%, 42%);
  color: #ffbb74;
  padding-top: 5vh;
}
  
.title_nos{
  color: #5a4631;
  margin-left: 80%;
  font-size: 56px;
  padding-bottom: 4vh;
  padding-top: 3vh;
}
.text1
{
  color: #431e05;
  font-size: 32px;
  text-align: justify;
  margin-left: 59%;
  padding-right: 1.8%;
  padding-top: 9vh;
  
}
.text2 {
  color: #431e05;
  font-size: 32px;
  text-align: justify;
  margin-left: 45%;
  margin-right: 1.8%;
  padding-top: 10vh; /* espaço de cima pra baixo*/
  
}
.text_nossa{
  color: #ffffff;
  text-align: center;
  font-size: 70px;
  padding-top: 4vh;
  padding-bottom: 1vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.6); /* Sombreamento do texto para melhor legibilidade */
}
.text_equipe{
  color: #ffbc74;
  text-align: center;
  font-size: 120px;
  padding-top: 1vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.6); /* Sombreamento do texto para melhor legibilidade */
}

.design{
  color: #ffffff;
  text-shadow: 
  1px 1px 0 #000000,
  2px 2px 0 #5e5e5e,
  3px 3px 0 #424242,
  4px 4px 0 #696969;
  font-size: 80px;
  padding-top: 12%;
  padding-left: 54%;
  
}

.text_design{
  color: #431e05;
  font-size: 32px;
  text-align: justify;
  margin-left: 50%;
  padding-right: 10%;
  padding-top: 6vh;
  
}
.foto_designer1{
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 217%; /* Move a imagem 20px para cima */
  left: 13vh; /* Alinha à esquerda, se desejado */
  border-radius: 20px;
}
.foto_designer2{
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 257%; /* Move a imagem 20px para cima */
  left: 48vh; /* Alinha à esquerda, se desejado */
  border-radius: 20px;
}

.programacao {
  color: #ffffff;
  text-shadow: 
  1px 1px 0 #000000,
  2px 2px 0 #5e5e5e,
  3px 3px 0 #424242,
  4px 4px 0 #696969;
  font-size: 68px;
  padding-top: 25vh;
  padding-left: 2%;
  margin-bottom: -6vh;
}
.text_programacao{
  color: #431e05;
  font-size: 29px;
  text-align: justify;
  padding-top: 12vh; /* espaço de cima pra baixo*/
  padding-right: 55%;
  margin-left: 1vh;
}
.foto_programador1{
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 320%; /* Move a imagem 20px para cima */
  left: 165vh; /* Alinha à esquerda, se desejado */
  border-radius: 20px;
}
.foto_programador2{
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 361%; /* Move a imagem 20px para cima */
  left: 130vh; /* Alinha à esquerda, se desejado */
  border-radius: 20px;
}
.etiqueta_desig1 {
  background-color: #ffbb74; /* Cor de fundo da etiqueta */
  padding: 5px 10px; /* Preenchimento interno */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 0.8em; /* Tamanho da fonte menor */
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 256%; /* Move a imagem 20px para cima */
  left: 13vh; /* Alinha à esquerda, se desejado */
  border-radius: 10px;
  display: inline-block;
}
.etiqueta_desig2{
  background-color: #ffbb74; /* Cor de fundo da etiqueta */
  padding: 5px 10px; /* Preenchimento interno */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 0.8em; /* Tamanho da fonte menor */
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 296%; /* Move a imagem 20px para cima */
  left: 48vh; /* Alinha à esquerda, se desejado */
  border-radius: 10px;
  display: inline-block;
}
.etiqueta_prog1{
  background-color: #ffbc74; /* Cor de fundo da etiqueta */
  padding: 5px 10px; /* Preenchimento interno */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 0.8em; /* Tamanho da fonte menor */
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 359%; /* Move a imagem 20px para cima */
  left: 165vh; /* Alinha à esquerda, se desejado */
  border-radius: 10px;
  display: inline-block;
}
.etiqueta_prog2{
  background-color: #ffbb74; /* Cor de fundo da etiqueta */
  padding: 5px 10px; /* Preenchimento interno */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 0.8em; /* Tamanho da fonte menor */
  position: absolute; /* Permite posicionar a imagem livremente */
  top: 400%; /* Move a imagem 20px para cima */
  left: 130vh; /* Alinha à esquerda, se desejado */
  border-radius: 10px;
  display: inline-block;
}





@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

main {
  height: 80vh;
  
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
  
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}