* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;   
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5%;
    background-color: #ffffff;
    height: 80px;
    
  }
  article {
    background-color: #fff8f2;
  }
  .nav__links a,
.adt,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 15px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffbb74;
}

.adt {
    padding: 9px 25px;
    background-color: #ffbb74;
    border: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }

.container{
  height: 390vh;
}

.parte {
  height: 100vh; 
  margin: 1px 0; 
  
}
.parte1 {
  background-image: url('images/sobre_nos/tela1.png'); 
  background-size: 40%; 
  background-repeat: no-repeat;
  background-position-x: 8vh;
  background-position-y: 5vh;
}

#imagem_text {
  margin-left: 120vh;
  padding-top: 10vh;
}

.parte2 {
  background-image: url('images/sobre_nos/foto_equipe.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-left: 10%;
  border-radius: 100px;
  width: 80%;
  height: 750px;
}

.parte3 {
  background-image: url('images/sobre_nos/Forma_sobre_nos.png'); 
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: 100vh; 
  background-position-y: 8vh;
}

.parte4 {
  background-image: url('images/sobre_nos/Forma_sobre_nos.png'); 
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: -30vh; 
  background-position-y: 8vh;
}

.text1 {
  color: #431e05;
  font-size: 32px;
  text-align: justify;
  margin-left: 50%;
  padding-top: 8vh;
  padding-right: 5%;
  
  
}
.text2 {
  color: #431e05;
  font-size: 32px;
  text-align: justify;
  margin-left: 50%;
  margin-right: 5%;
  padding-top: 5vh;
  
}

.design{
  color: #ffffff;
  font-size: 80px;
  padding-top: 13%;
  padding-left: 67%;
  
}

.text_design{
  color: #ffffff;
  font-size: 26px;
  text-align: start;
  padding-left: 60%;
  padding-right: 6%;
  padding-top: 6vh;
  
}
.foto_designer1{
  position: absolute; 
  top: 210%; 
  left: 18vh; 
  border-radius: 20px;
}
.foto_designer2{
  position: absolute; 
  top: 250%; 
  left: 60vh;  
  border-radius: 20px;
}

.programacao {
  color: #ffffff;
  font-size: 60px;
  padding-top: 14%;
  padding-left: 7%;
  
}
.text_programacao{
  color: #ffffff;
  font-size: 22px;
  text-align: start;
  padding-top: 6vh;
  padding-right: 60%;
  margin-left: 4vh;
}
.foto_programador1{
  position: absolute; 
  top: 308%; 
  left: 158vh; 
  border-radius: 20px;
}
.foto_programador2{
  position: absolute; 
  top: 348%; 
  left: 120vh; 
  border-radius: 20px;
}
.etiqueta_desig1 {
  background-color: #ffbb74;
  padding: 5px 20px; 
  border-radius: 5px;
  font-size: 16px; 
  position: absolute;
  top: 246%; 
  left: 18vh; 
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
}
.etiqueta_desig2{
  background-color: #ffbb74;
  padding: 5px 20px; 
  border-radius: 5px;
  font-size: 16px; 
  position: absolute; 
  top: 286%; 
  left: 60vh; 
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
}
.etiqueta_prog1{
  background-color: #ffbb74;
  padding: 5px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  position: absolute; 
  top: 344%; 
  left: 158vh; 
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
}
.etiqueta_prog2{
  background-color: #ffbb74;
  padding: 7px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  position: absolute; 
  top: 384%;
  left: 120vh; 
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

main {
  height: 80vh;
  
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
  
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}